extends layout

block content
  h1= title
  table(style=border='1')
    tr 
      th Genres
      each val in list_genres
        tr
          td
            a(href=val.url) #{val.name}

      else
        li There are no genre.
