<!DOCTYPE html>
<html>
  <head>

    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>

  <body>
      style 
          include ../public/stylesheets/st.css
      <div class="col-sm-6">
          <div class="well">
              <h3 class="text-danger"><span class="fab fa-google"> Google</span></h3>
              <p>
                  <li><strong>Name :</strong> !{name} </li> <br>
                  <li><strong>Email:</strong> !{email}</li> <br>
              <p>Welcome, click this link to go <a href="/catalog">HomePage</a></p><br>
              //- <a href="/logout">LOG OUT</a>
              </p>
          </div>
      </div>
  </body>
</html>